
<footer>
  
  <section id="footer-section-one">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p class="subtitle with-border">About</p>
            <a href="/pages/about" class="arrow-button">
              <h3>It all started with a crushed bag <span class="inline-icon">{% include 'icon-right-orange' %}</span></h3>
            </a>
         </div>
         <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" id="footer-newsletter">
          <p class="subtitle with-border">Newsletter</p>

          {% form 'contact' %}
            <div class="form-wrapper">
              {{ form.errors | default_errors }}
              <div class="form-row message">
                <p>Sign up for Netix emails and get exclusive offers, new product previews and more.</p>
              </div>
              <div class="form-row inline-submit">
                <label for="ContactFormEmail">Email <span class="color-red">*</span></label>
                <input type="text"
                name="contact[email]"
                id="ContactFormEmail"
                placeholder="Your Email" required>
                <input type="submit" class="button" value="SIGN ME UP">
              </div>
            </div>
            
          {% endform %}

          <div class="row form-response">
            <div class="success">
              {% include 'icon_circle_check' %}
              <p class="x-large">Thank you for subscribing! We'll be in touch soon.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
          <p class="subtitle with-border">Questions?</p>
          <p>Got questions? We’ve got answers.</p>
          <ul class="contact-information">
            {% if  settings.footer_general_email_1 != blank and settings.footer_general_phone_1 != blank %}
              <li>
                <p>
                  <a href="tel:{{ settings.footer_general_phone_1 }}" class="single-line-hover">{{ settings.footer_general_phone_1 }}</a>
                </p>
                <p>
                  <a href="mailto:info@netixfitness.com" class="double-line-hover">info@netixfitness.com</a>
                </p>
              </li>
            {% endif %}
            
            {% if settings.footer_general_press_email_1 != blank %}
              <li>
                <p class="subtitle">presss inquiry</p>
                <p>
                  <a href="mailto:{{ settings.footer_general_press_email_1 }}" class="double-line-hover">{{ settings.footer_general_press_email_1 }}</a>
                </p>
              </li>
            {% endif %}
          </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="row middle-xs" id="subfooter">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p>Copyright &copy; {{ 'now' | date: "%Y" }}, Netix</p>
            <ul class="regular-menu">
              {% for link in linklists.sub-footer-one.links %}
                <li>
                  <p><a href="{{ link.url }}" class="double-line-hover">{{  link.title }}</a></p>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0 remove-xs-only">
            <ul class="logo-list">
              <li>
                <p class="subtitle">Funded Through</p>
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/indie-gogo-pink.png?v=1582592266" alt="indie-gogo-pink">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/patent-pending.png?v=1582592266" alt="patent pending">
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 end-lg end-md center-xs">
            <ul class="social-icons">
              <li class="icon-facebook">
                <a href="{{ settings.social_facebook_link }}" target="_blank">
                  {% include 'icon-facebook-f' %}
                </a>
              </li>
              <li class="icon-twitter">
                <a href="{{ settings.social_twitter_link }}" target="_blank">
                  {% include 'icon-twitter' %}
                </a>
              </li>
              <li class="icon-instagram">
                <a href="{{ settings.social_instagram_link }}" target="_blank">
                  {% include 'icon-instagram' %}
                </a>
              </li>
            </ul>
            <ul class="logo-list mobile-xs-only">
              <li>
                <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/indie-gogo-pink.png?v=1582592266" alt="indie-gogo-pink">
              </li>
              <li>
                <img src="https://cdn.shopify.com/s/files/1/0333/5084/4552/files/patent-pending.png?v=1582592266" alt="patent pending">
              </li>
            </ul>


            <p>
              Website by <a href="https://buzzworthystudio.com" class="single-line-hover" target="_blank">Buzzworthy</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% comment %} {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul> {% endcomment %}

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {% comment %} {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul>
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div> {% endcomment %}
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
